apache-airflow
apache-airflow-providers-amazon
apache-airflow-providers-postgres
boto3
kafka-python==2.0.2
psycopg2-binary
streamlit==1.29.0
plotly==5.18.0
pandas==2.1.4
pytest
requests==2.31.0
faker==19.3.1
sqlalchemy==2.0.23
